body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px; 
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 8px; 
}

.left-side {
    flex: 3; 
    padding-right: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.right-side {
    flex: 2; 
    padding-left: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.header {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px; 
}

.sub-header {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column; 
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #d3e3d4; 
    border-radius: 12px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    background-color: #c8dcca;
    color: #333; 
}

.contact-form textarea {
    height: 100px; 
    resize: vertical; 
}

.contact-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 12px; 
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
}

.contact-form input[type="submit"]:hover {
    background-color: #45a049; 
}

.contact-info {
    margin-top: 20px;
    text-align: left;
    color:#000000;
}

.contact-icon {
    width: 24px;
    height: 24px; 
    margin-right: 10px; 
    vertical-align: middle; 
}

.illustration {
    width: 100%; 
    height: auto;
    height: 300px; 
    margin-bottom: -30px; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .left-side, .right-side {
        padding: 0;
        text-align: center;
    }

    .illustration {
        width: 100%; 
        max-width: none; 
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        max-width: 100%; 
    }
}
